en/*
__pycache__/
nohup.out
wikitext-103/
.ipynb_checkpoints/
results/*/raw
one_shot/models
one_shot/txl_files
one_shot/runs
one_shot/old
bert_sv_agreement/*.FULL.csv
bert_anaphora/*.FULL.csv
bert_sv_agreement/*/*
bert_anaphora/*/*
gpt2_sv_agreement/*.FULL.csv
gpt2_anaphora/*.FULL.csv
gpt2_sv_agreement/*/*
gpt2_anaphora/*/*
gpt_sv_agreement/*.FULL.csv
gpt_anaphora/*.FULL.csv
gpt_sv_agreement/*/*
gpt_anaphora/*/*
txl_sv_agreement/*.FULL.csv
txl_anaphora/*.FULL.csv
txl_sv_agreement/sent_probs_simple.csv
txl_sv_agreement/*/*
txl_anaphora/*/*
compute/outputs
one_shot/results/*/*/*bert-base-uncased*
one_shot/results/*/*/*gpt2-xl*
